body{
    color: white;
    font-weight: bold;
}

.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 60rem;
    border-radius: 4px;
    background-color:rgb(59, 116, 221) ;
    font-size: 2.5rem;
    height: 4rem;
}

.choice-container:hover{
    transform: scale(1.02);
    cursor: default;
}

.choice-prefix{
    padding: 0rem 2.5rem;
}
.correct{
    background-color: rgb(154, 245, 19);
}

.wrong{
    background-color: red;
}
.ques{
    margin-bottom: 2rem;
}

.hud-item{
    position: fixed;
    right:2rem;
    bottom:3rem;
    font-size: 2rem;
    color: rgb(255, 174, 0);
}